@import "tailwindcss";

.scrollDiv::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

.scrollDiv::-webkit-scrollbar-track {
    background: transparent;
}

.scrollDiv::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
}

.scrollDiv::-webkit-scrollbar-button {
    display: none;
}